body.flickr-zoom.zoomed {
  overflow: hidden !important;
}

div.flickr-zoom-screen {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
}

img.flickr-zoom {
  cursor: zoom-in;
}

img.flickr-zoom.zoomed {
  cursor: zoom-out;

  z-index: 10001;
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;

  padding: 100px;
  margin: 0;
  border: none;
  max-width: none;
}
